{% extends "layout.html" %}
{% block title %}Index{% endblock %}

{%block search_header%}
{%endblock%}


{% block content %}
<div class="container">
 <h1>Welcome to BitCluster</h1>
 <p>Enter an address or an node Id to begin!</p>

 <form role="form" action="/" method="post">
  <div class="form-group {% if message is defined%} has-error {% endif %}">
    <label for="address">Bitcoin address, node id or service name:</label>
    <input type="text" class="form-control" id="address" name="q">
    {% if message is defined%}
    <span class="help-block">{{message}}</span>
    {% endif %}
  </div>
  <button type="submit" class="btn btn-default">Find</button>
</form>
</div>

{% endblock %}