{% extends "layout.html" %}



{% block title %}{{ informations['node_id'] |get_node_tag(tags_collection,True) }}{% endblock %}




{% block content %}
<div class="container">
	<div class="row">
        <div class="col-md-4 text-center">
        	<br/>
        	<h3>Total income</h3>
        	<h4>{{informations['stats']['amounts_received']['btc']|format_btc}} BTC / {{informations['stats']['amounts_received']['usd']|format_usd}} USD</h4>
        	<p>From {{informations['stats']['distinct_sources_count']}} different nodes<p>
        </div>

        <div class="col-md-4">
        	<h2>{{informations['node_id']|get_node_tag(tags_collection,True)}}</h2>
        	<ul>
        		<li>Has <a href="#addresses">{{informations['stats']['node_addresses_count']}}</a> different addresses</li> 
        		<li>First seen: {{informations['stats']['first_seen']}}</li>
        		<li>Last seen: {{informations['stats']['last_seen']}}</li>
				{% set btc_left = informations['stats']['amounts_received']['btc'] - informations['stats']['amounts_sent']['btc']%}
				{% set usd_left = btc_left * 702.07 %}
				<li>Money left: {% if btc_left >= 0 %} {{btc_left|format_btc}} BTC / {{usd_left| format_usd}} USD {% else %} Unknown {% endif %}</li>
        	</ul>
        </div>

        <div class="col-md-4 text-center">
        	<br/>
        	<h3>Total spending</h3>
        	<h4>{{informations['stats']['amounts_sent']['btc']|format_btc}} BTC / {{informations['stats']['amounts_sent']['usd']|format_usd}} USD</h4>
        	<p>To {{informations['stats']['distinct_destination_count']}} different nodes<p>
        </div>
    </div>
</div>
{% if truncated %}
<div class="alert alert-info">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Note</strong> The following results have been truncated to be displayed. Use the download csv links to get the full dataset.
</div>
{% endif %}
<div class="container">
	<div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#incomes">Income details</a>
        </h4>
      </div>
      <div id="incomes" class="panel-collapse collapse">
        <div class="panel-body">
    		<ul class="nav nav-tabs">
			  <li class="active"><a data-toggle="tab" href="#income_by_node">Grouped by nodes</a></li>
			  <li><a data-toggle="tab" href="#income_by_date">Grouped by date</a></li>
			  <li><a data-toggle="tab" href="#income_by_amount">Grouped by amounts</a></li>
			  <li><a data-toggle="tab" href="#income_transactions">All income</a></li>
			</ul>

			<div class="tab-content">
			  <div id="income_by_node" class="tab-pane fade in active">
			  	<table class="table table-striped table-hover">
				    <thead>
				      <tr>
				        <th>Node Id</th>
				        <th>Total Amount (USD)</th>
				        <th>Total Amount (BTC)</th>
				        <th>Number of transactions</th>
				      </tr>
				    </thead>
				    <tbody>
				    {% for k,v in informations['incomes_grouped']['by_node']  %}
			     		<tr>
			        		<td><a href="{{ url_for('get_node_request', node_id=k)}}">{{k|get_node_tag(tags_collection)}}</a></td>
			        		<td>{{v['amount_usd']|format_usd}}</td>
			        		<td>{{v['amount_btc']|format_btc}}</td>
			        		<td>{{v['transactions']|length}}</td>
			      		</tr>
				    {% endfor %}
				    </tbody>
				  </table>
				   <a href="{{ url_for('download_grouped_transactions',node_id=informations['node_id'],direction='in',grouping='by_node')}}">Download in csv</a>
			  </div>
			  <div id="income_by_date" class="tab-pane fade">
			    <table class="table table-striped table-hover">
				    <thead>
				      <tr>
				        <th>Date</th>
				        <th>Total Amount (USD)</th>
				        <th>Total Amount (BTC)</th>
				        <th>Number of transactions</th>
				      </tr>
				    </thead>
				    <tbody>
				    {% for k,v in informations['incomes_grouped']['by_date'] %}
			     		<tr>
			        		<td>{{k}}</td>
			        		<td>{{v['amount_usd']|format_usd}}</td>
			        		<td>{{v['amount_btc']|format_btc}}</td>
			        		<td>{{v['transactions']|length}}</td>
			      		</tr>
				    {% endfor %}
				    </tbody>
				  </table>
				  <a href="{{ url_for('download_grouped_transactions',node_id=informations['node_id'],direction='in',grouping='by_date')}}">Download in csv</a>
			  </div>
			  <div id="income_by_amount" class="tab-pane fade">
			    <table class="table table-striped table-hover">
				    <thead>
				      <tr>
				        <th>Amount (USD)</th>
				        <th>Number of transactions</th>
				      </tr>
				    </thead>
				    <tbody>
				    {% for k,v in informations['incomes_grouped']['by_amount']['amount_usd'] %}
			     		<tr>
			        		<td>{{k|format_usd}}</td>
			        		<td>{{v}}</td>
			      		</tr>
				    {% endfor %}
				    </tbody>
				  </table>
				  <a href="{{ url_for('download_grouped_transactions',node_id=informations['node_id'],direction='in',grouping='by_amount')}}">Download in csv</a>
			  </div>
			  <div id="income_transactions" class="tab-pane fade">
			    <table class="table table-striped table-hover">
				    <thead>
				      <tr>
				      	<th>Date</th>
				        <th>From</th>
				        <th>To</th>
				        <th>Amount</th>
				      </tr>
				    </thead>
				    <tbody>
				    {% for trx in informations['transactions']['in']%}
			     		<tr>
			        		<td>{{trx['trx_date']}} <br/> (Block ID: {{trx['block_id']}})</td>
			        		<td><a href="{{ url_for('get_node_request', node_id=trx['source_n_id'])}}">{{trx['source_n_id']|get_node_tag(tags_collection)}}</a> <br/> ({{trx['source']}}) </td>
			        		<td>{{trx['destination_n_id']|get_node_tag(tags_collection)}} <br/> ({{trx['destination']}}) </td>
			        		<td>{{trx['amount']|format_btc}}BTC <br/> ({{trx['amount_usd']|format_usd}}USD)</td>
			      		</tr>
				    {% endfor %}
				    </tbody>
				  </table>
				  <a href="{{ url_for('download_transations_csv',node_id=informations['node_id'],direction='in')}}">Download in csv</a>
			  </div>
			</div>
        </div>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#outcomes">Spending details</a>
        </h4>
      </div>
      <div id="outcomes" class="panel-collapse collapse">
        <div class="panel-body">
    		<ul class="nav nav-tabs">
			  <li class="active"><a data-toggle="tab" href="#outcome_by_node">Grouped by nodes</a></li>
			  <li><a data-toggle="tab" href="#outcome_by_date">Grouped by date</a></li>
			  <li><a data-toggle="tab" href="#outcome_by_amount">Grouped by amounts</a></li>
			  <li><a data-toggle="tab" href="#outcome_transactions">All spending</a></li>
			</ul>

			<div class="tab-content">
			  <div id="outcome_by_node" class="tab-pane fade in active">
			  	<table class="table table-striped table-hover">
				    <thead>
				      <tr>
				        <th>Node Id</th>
				        <th>Total Amount (USD)</th>
				        <th>Total Amount (BTC)</th>
				        <th>Number of transactions</th>
				      </tr>
				    </thead>
				    <tbody>
				    {% for k,v in informations['outcomes_grouped']['by_node'] %}
			     		<tr>
			        		<td><a href="{{ url_for('get_node_request', node_id=k)}}">{{k|get_node_tag(tags_collection)}}</a></td>
			        		<td>{{v['amount_usd']|format_usd}}</td>
			        		<td>{{v['amount_btc']|format_btc}}</td>
			        		<td>{{v['transactions']|length}}</td>
			      		</tr>
				    {% endfor %}
				    </tbody>
				  </table>
				  <a href="{{ url_for('download_grouped_transactions',node_id=informations['node_id'],direction='out',grouping='by_node')}}">Download in csv</a>
			  </div>
			  <div id="outcome_by_date" class="tab-pane fade">
			    <table class="table table-striped table-hover">
				    <thead>
				      <tr>
				        <th>Date</th>
				        <th>Total Amount (USD)</th>
				        <th>Total Amount (BTC)</th>
				        <th>Number of transactions</th>
				      </tr>
				    </thead>
				    <tbody>
				    {% for k,v in informations['outcomes_grouped']['by_date'] %}
			     		<tr>
			        		<td>{{k}}</td>
			        		<td>{{v['amount_usd']|format_usd}}</td>
			        		<td>{{v['amount_btc']|format_btc}}</td>
			        		<td>{{v['transactions']|length}}</td>
			      		</tr>
				    {% endfor %}
				    </tbody>
				  </table>
				  <a href="{{ url_for('download_grouped_transactions',node_id=informations['node_id'],direction='out',grouping='by_date')}}">Download in csv</a>
			  </div>
			  <div id="outcome_by_amount" class="tab-pane fade">
			    <table class="table table-striped table-hover">
				    <thead>
				      <tr>
				        <th>Amount (USD)</th>
				        <th>Number of transactions</th>
				      </tr>
				    </thead>
				    <tbody>
				    {% for k,v in informations['outcomes_grouped']['by_amount']['amount_usd'] %}
			     		<tr>
			        		<td>{{k|format_usd}}</td>
			        		<td>{{v}}</td>
			      		</tr>
				    {% endfor %}
				    </tbody>
				  </table>
				  <a href="{{ url_for('download_grouped_transactions',node_id=informations['node_id'],direction='out',grouping='by_amount')}}">Download in csv</a>
			  </div>
			  <div id="outcome_transactions" class="tab-pane fade">
			    <table class="table table-striped table-hover">
				    <thead>
				      <tr>
				      	<th>Date</th>
				        <th>From</th>
				        <th>To</th>
				        <th>Amount</th>
				      </tr>
				    </thead>
				    <tbody>
				    {% for trx in informations['transactions']['out']%}
			     		<tr>
			        		<td>{{trx['trx_date']}} <br/> (Block ID: {{trx['block_id']}})</td>
			        		<td>{{trx['source_n_id']|get_node_tag(tags_collection)}}<br/> ({{trx['source']}}) </td>
			        		<td><a href="{{ url_for('get_node_request', node_id=trx['destination_n_id'])}}">{{trx['destination_n_id']|get_node_tag(tags_collection)}}</a> <br/> ({{trx['destination']}}) </td>
			        		<td>{{trx['amount']|format_btc}}BTC <br/> ({{trx['amount_usd']|format_usd}}USD)</td>
			      		</tr>
				    {% endfor %}
				    </tbody>
				  </table>
				  <a href="{{ url_for('download_transations_csv',node_id=informations['node_id'],direction='out')}}">Download in csv</a>
			  </div>
			</div>
        </div>
      </div>
    </div>
    


    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#addresses">Node Addresses</a>
        </h4>
      </div>
    </div>
     <div id="addresses" class="panel-collapse collapse">
        <div class="panel-body">
        	<ul>
				    {% for addr in informations['node_addresses']|sort %}
			     		<li>{{addr}}</li>
				    {% endfor %}
			</ul>
     	</div>
    </div>

  </div>


</div>

<div class="container">
</div>

{% endblock %}